@model SMS01.Models.Student

@{
    ViewData["Title"] = "Details";
}

@*<div class="card">
    <div class="card-header">
        <h3 class="text-uppercase">
            <i class="fa-solid fa-circle-info text-success"></i> Student Details
        </h3>

    </div>
    <div class="card-body">
        <div>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Age)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Age)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FatherName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FatherName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.RegNo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.RegNo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Department)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Department)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Semester)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Semester)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ContactNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ContactNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CNIC)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CNIC)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Gender)
                </dt>
                <dd class="col-sm-10">
                    @(Model.Gender == "1" ? "Male" : "Female")
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Address)
                </dd>
            </dl>
        </div>
        <div>
            <img style="float:right" class="img-thumbnail" height="100" width="100" src="@Url.Content(Model.ImagePath)" alt="@Model.ImagePath" />
        </div>
        <div>
            <a class="btn btn-sm btn-primary rounded-0" asp-action="Index">
                <i class="fas fa-fast-backward"></i> Back
            </a>
        </div>
    </div>
</div>

*@


<style>
    .card {
        margin: 20px auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-body {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .card-details {
        flex: 1;
        padding: 20px;
    }

    .card-image {
        flex-shrink: 0;
        padding: 20px;
    }

        .card-image img {
            max-width: 100%;
            height: auto;
        }
</style>
<body>
    <div class="card">
        <div class="card-header">
            <h3 class="text-uppercase">
                <i class="fas fa-info-circle text-success"></i> Student Details
            </h3>
        </div>
        <div class="card-body">
            <div class="card-details">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Age)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Age)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FatherName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FatherName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.RegNo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.RegNo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Department)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Department)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Semester)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Semester)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ContactNumber)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ContactNumber)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CNIC)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CNIC)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>
                    <dd class="col-sm-10">
                        @(Model.Gender == "1" ? "Male" : "Female")
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                </dl>
            </div>
            <div class="card-image">
                <img style="height:300px; width:260px" class="img-thumbnail" src="@Url.Content(Model.ImagePath)" alt="@Model.ImagePath" />
            </div>
        </div>
        <div class="card-footer">
            <a class="btn btn-sm btn-primary rounded-0" asp-action="Index">
                <i class="fas fa-fast-backward"></i> Back
            </a>
        </div>
    </div>
</body>

